<footer class="bg-main-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Get the FreshCart app</h3>
                <p class="text-muted">We will send you a link, open it on your phone to download the app. </p>
                <div class="d-flex gap-3">
                    <input type="email" placeholder="Email..." class="form-control">
                    <button class="main-btn flex-shrink-0">Share App Link</button>
                </div>
                <hr>
                <div class="text-center">
                    <img src="./assets/images/freshcart-logo.svg" alt="">
                </div>
                <h3 class="h6 text-center mt-2">
                    &copy;2023 All Rights Reserved
                </h3>
                <!-- <h3 class="h6 text-center">
                    <img  src="./assets/images/freshcart-logo.svg" alt="cart logo">
                    &copy;2023 All Rights Reserved
                </h3> -->
            </div>
        </div>
    </div>
</footer>