<section *ngIf="step1" class="mx-auto shadow rounded p-4 my-4 bg-main-light w-75">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
        <div class="my-2">
            <label for="email">Email:</label>
            <input formControlName="email" type="email" id="email" name="email" class="form-control">
            <div *ngIf="forgotForm.get('email')?.errors && forgotForm.get('email')?.touched " class="alert alert-danger">
                <p *ngIf="forgotForm.get('email')?.errors?.['required']">Email Is Required</p>
                <p *ngIf="forgotForm.get('email')?.errors?.['email']">Invalid Email</p>
            </div>
            <div *ngIf="userMsg" class="alert alert-danger w-50 mx-auto mt-3 text-center">{{userMsg}}</div>
            <button class="main-btn w-75 d-block mx-auto mt-3">Reset Password</button>
        </div>
    </form>
</section>

<section *ngIf="step2" class="mx-auto shadow rounded p-4 my-4 bg-main-light w-75">
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
        <div class="my-2">
            <label for="resetCode">Reset Code:</label>
            <input formControlName="resetCode" type="text" id="resetCode" name="resetCode" class="form-control">
            <div *ngIf="resetCodeForm.get('resetCode')?.errors && resetCodeForm.get('resetCode')?.touched " class="alert alert-danger">
                <p *ngIf="resetCodeForm.get('resetCode')?.errors?.['required']">Code Is Required</p>
            </div>
            <div *ngIf="userMsg" class="alert alert-danger w-50 mx-auto mt-3 text-center">{{userMsg}}</div>
            <button class="main-btn w-75 d-block mx-auto mt-3">Reset Code</button>
        </div>
    </form>
</section>

<section *ngIf="step3" class="mx-auto shadow rounded p-4 my-4 bg-main-light w-75">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
        <div class="my-2">
            <label for="newPassword">Reset Password:</label>
            <input formControlName="newPassword" type="password" id="newPassword" name="newPassword" class="form-control">
            <div *ngIf="resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched" class="alert alert-danger">
                <p *ngIf="resetPassword.get('newPassword')?.errors?.['required']">Password Is Required</p>
                <p *ngIf="resetPassword.get('newPassword')?.errors?.['pattern']">Password Must Be At Least 6 Chars</p>
            </div>
            <div *ngIf="userMsg" class="alert alert-danger w-50 mx-auto mt-3 text-center">{{userMsg}}</div>
            <button class="main-btn w-75 d-block mx-auto mt-3">Reset Password</button>
        </div>
    </form>
</section>